<% content_for :page_actions do %>
  <div class="form-actions" data-hook="buttons">
    <%= button_link_to Spree.t('actions.back'), spree.admin_exports_path(exporter_id: @exporter.key), {icon: 'chevron-left'} %>

    <%= button_link_to Spree.t(:new_export, scope: :exporter_core), spree.new_admin_export_path(exporter_id: @exporter.key), { :class => "btn-success", :icon => 'add', 'data-update' => 'new_export_link', :id => 'admin_new_export' } %>
  </div>
<% end if can?(:create, Spree::Export) %>

<% content_for :page_title do %>
  <%= Spree.t(:export, scope: :exporter_core, id: @export.id) %>
<% end %>

<fieldset class="export_fields">
  <dl class="dl-horizontal">
    <dt><%= Spree::Export.human_attribute_name(:document) %></dt>
    <dd><%= @export.document_file_name %></dd>

    <dt><%= Spree::Export.human_attribute_name(:created_at) %></dt>
    <dd><%= l @export.created_at %></dd>

    <dt><%= Spree::Export.human_attribute_name(:started_at) %></dt>
    <dd><%= l(@export.started_at) if @export.started_at %></dd>

    <dt><%= Spree::Export.human_attribute_name(:finished_at) %></dt>
    <dd><%= l(@export.finished_at) if @export.finished_at %></dd>

    <dt><%= Spree::Export.human_attribute_name(:status) %></dt>
    <dd><i class="glyphicon <%= @export.status_icon %>"></i></dd>
  </dl>
</fieldset>

<% if @export.messages.any?  %>
  <div class="row">
    <div class="col-sm-12">
      <p><strong><%= Spree::Export.human_attribute_name(:messages) %></strong></p>
      <table class="table export-logs">
        <colgroup>
          <col width="90%">
          <col width="10%">
        </colgroup>

        <% @export.messages.each_with_index do |message, index| %>
          <tr class="message_<%= index %>" data-message="message_<%= index %>">
            <td class="log-message"><%= message[:message] %></td>
            <td>
              <a class="plus" href="javascript:void(0);">
                <i class="glyphicon glyphicon-plus"></i>
              </a>
              <a class="minus dn" href="javascript:void(0);">
                <i class="glyphicon glyphicon-minus"></i>
              </a>
            </td>
          </tr>

          <tr class="message_<%= index %> log-backtrace dn danger">
            <td colspan='2'>
              <% message[:backtrace].each do |backtrace| %>
                <p><%= backtrace %></p>
              <% end %>
            </td>
          </td>
        <% end %>
      </table>
    </div>
  </div>
<% end %>
